body{background-color: #e8f1f2; 
    font-family: Nunito, Raleway;
    margin:0 ;
    }
       
    ul.navigation {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #31493c  ;
        overflow: hidden;
    }

   
    li.navigation-item {
        float: left;
    }

    
    li.navigation-item a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

   
    li.navigation-item a:hover {
        background-color: #7a9e7e;
    }
h2{  
    
    background-image:url("Contact.jpg");
    color: #e8f1f2;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    font-size: 50px;
    margin-top: 0%;
    height: 250px;
    }
    .bezigheden {
        list-style-type: disc;
        margin: 0;
        padding: 0;
    }
    
    
    .bezigheden{
        font-size: 16px; 
        margin-bottom: 10px; 
    }